{% extends 'base.html' %}

{% block body %}
<h1>Sign PDF with timestamp</h1>
<a class="m10" href="/signature">Only Sign without timestamp</a>
<a class="m10" href="/timestamp">Only add timestamp</a>
<a class="m10" href="/validate">Validate</a>
<form name="upload_form" method=post enctype=multipart/form-data>
  <div class="flex-container">
    <div class="m10">
      <label for="file">Your PDf file</label>
      <input type=file name=pdf_file accept="application/pdf">
    </div>
    <div class="m10">
      <label for="file">Your key file</label>
      <input type=file name=key_file accept=".pem">
    </div>
    <div class="m10">
      <label for="file">Your certificate file</label>
      <input type=file name=cert_file accept=".cer, .pem">
    </div>
    <div class="m10">
      <label for="file">TSA service url</label>
      <input type=text name=tsa_url>
    </div>
  </div>
  <button class="m10" onclick="submit_form()">Upload</button>
</form>
{% if file_url %}
<button class"m10">
  <a href="{{ file_url }}" download >download</a>
</button>
{% endif %}
{% if error %}
<p class="m10" style="color:red">{{ error }}</p>
{% endif %}
{% endblock %}
